<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test name="login">

    <classes>



      <class name="main.java.testcases.LoginPageTest">
        <methods>
          <include name="testLoginPageLoaded"/>
          <include name="validateLoginFunctionality"/>
        </methods>
      </class>

<!--      <class name="main.java.testcases.ConfigurationPageTests">-->
<!--        <methods>-->
<!--&lt;!&ndash;          <include name="testNewConfigurationCreate" />&ndash;&gt;-->
<!--&lt;!&ndash;          <include name="testGameStart" />&ndash;&gt;-->
<!--&lt;!&ndash;          <include name="testDeleteConfiguration" />&ndash;&gt;-->
<!--&lt;!&ndash;          <include name="testViewGameOnMobile" />&ndash;&gt;-->
<!--        </methods>-->
<!--      </class>-->


      <class name="main.java.testcases.GlobalPrizingPageTest">
        <methods>

          <include name="testGlobalPrizingPageLoaded" />
          <include name="testAddNewPrize" />
        </methods>
      </class>





    </classes>
  </test>
</suite>